<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cody.mtmanager.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.MainMenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name=".NewTournament" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.NewTournament" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ActiveTournament" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.ActiveTournament" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayerSetup" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.PlayerSetup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ExtraStats" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.ExtraStats" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderTiebreakers" >
            <intent-filter>
                <action android:name="cody.mtmanager.com.OrderTiebreakers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>